.img{
    z-index: 1;
    position: relative;
}

.col-12{
    text-align:center;
    justify-content: center;
}

.formaazul{
    border-radius: 0px 0px 0px 193px;
    background: #5080E5;
    position: relative;
    z-index: -1;
    top: -300px;
    left: 192px;
    height: 325px;
}

.seccionfeatures{
    position: absolute;
}

.menuContainer{
    margin-left: 11.4%;
    margin-right: 11.4%;
    align-items: center;
}

.botonera *{
    color:#3f3e3e;
    text-decoration: none;
    text-align: center;    
    font-weight: 500;
    justify-content: flex-end;

}
.botonera *:hover{
    color:#3f3e3e;
    text-decoration: none;
}

div.activo{
    background-color: rgb(218, 75, 75);
    
}
div.activo:hover a{
    color:#3f3e3e;
    
}
.activo a{
    color:white;
}
.logo{
    width: 150px;
    
}

header{
    margin-bottom: auto;
    position: relative;
}

.title {
    font-size: 45px;
    position: absolute;
}

@media(max-width:992px){
    .navbar-nav{
        background-color: #5080E5;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;    
    }

    .simplebookmark{
        text-align:center;
        justify-content: center;
    }

    .container{
        justify-content: center;
        text-align:center;
    }
    
    
}
nav{
    z-index: 100;
}