

.menuContainer{
    margin-left: 11.4%;
    margin-right: 11.4%;
    margin-top: 60px;
    align-items: center;
}

.botonera *{
    color:#3f3e3e;
    text-decoration: none;
    text-align: center;    
    font-weight: 500;
    font-size: 0.85em;

}
.botonera *:hover{
    color:#3f3e3e;
    text-decoration: none;
}

div.activo{
    background-color: rgb(218, 75, 75);
    
}
div.activo:hover a{
    color:#3f3e3e;
    
}
.activo a{
    color:white;
}
.logo{
    width: 150px;
    
}

header{
    margin-bottom: 200px;
    position: relative;
}

.title {
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width:992px){
    .navbar-nav{
        background-color: #5080E5;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;    
    }
}
nav{
    z-index: 100;
}