
.body{
    justify-content: center;
}


.nav-item{
    text-decoration: none;
}


.img{
    z-index: 1;
    position: relative;
}


.seccionfeatures{
    position: absolute;
}



.menuContainer{
    margin-left: 0;
    margin-right: 0;
    align-items: center;
}

.botonera *{
    color:#3f3e3e;
    text-decoration: none;
    text-align: center;    
    font-weight: 500;
    justify-content: flex-end;

}
.botonera *:hover{
    color:#3f3e3e;
    text-decoration: none;
}

a.nav-link:hover {
    color: red;
}

div.activo{
    background-color: rgb(218, 75, 75);
    
}
div.activo:hover a{
    color:#3f3e3e;
    
}
.activo a{
    color:white;
}
.logo{
    width: 150px;
   
}

header{
    margin-bottom: auto;
    position: relative;
}

.title {
    font-size: 45px;
    position: absolute;
}



.card-body {
    margin-left: 11.4%;
    margin-right: 11.4%;
    align-items: center;
}

.extensioncard {
    text-align: center;
    justify-content: center;
}

.card1{
    border-radius: 50px 50px 50px 50px;
    position: relative;
    top: -30px;
    margin: 5px;
    
}

.card2{
    border-radius: 50px 50px 50px 50px;
    position: relative;
    top: 0px;
    margin: 5px;

}

.card3{
    border-radius: 50px 50px 50px 50px;
    position: relative;
    top: 30px;
    margin: 5px;
 
}

.forma-features {
    width: 84%;
    height: 80%;
  }

.accordion-button:hover {
    color: red;
}

@media(max-width:992px){
    
    .container{
        text-align: center;
        justify-content: center;

    }

    
}
nav{
    z-index: 100;
}


